.svg{
    position: absolute;
right: 0;
width: 461px;
height: 600px;
aspect-ratio: 461/600;
z-index: 0;
}
@media(max-width:768px){
    .svg{
        width: 307px;
height: 400px;
aspect-ratio: 33/43;
position: absolute;
right: 0;
    }
    .svgAdd{
        width: 20px;
height: 20px;
aspect-ratio: 1/1;
    }
}