.svg4{
    position: absolute;
left: 96px;
top: -48px;
fill: var(--Orange-orange-400, #FDAC5B);
width: 186px;
height: 190px;
}
.svg5{
    width: 402px;
height: 411px;
position: absolute;
right: 96px;
bottom: -81px;
fill: var(--Orange-orange-400, #FDAC5B);
}
.svg7{
    fill: var(--Grey-Green-grey-900, #252521);
}
.svg8{
    fill: var(--Grey-Green-grey-900, #252521);
}
.svg6{
    width: 20px;
    height: 20px;
}