.svg1{
    position: absolute;
left: 0;
top: 0;
width: 377px;
height: 500px;
aspect-ratio: 377/500;
fill: var(--White, #FFF);
}
.svg2{
width: 461px;
height: 600px;
aspect-ratio: 461/600;
position: absolute;
right: 0;
top: 0;
fill: var(--White, #FFF);
}
.svg4{
width: 42px;
height: 42px;
flex-shrink: 0;
aspect-ratio: 1/1;
}
@media(max-width:850px){
    .svg1{
        display: none;
    }
    .svg2{
        width: 307px;
height: 400px;
aspect-ratio: 33/43;
position: absolute;
right: 0;
    }
}