.wrapper {
  position: relative;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.10);
  padding: 8px 16px;
  background-color: transparent;
}

.wrapper_opened {
  position: relative;
}

.wrapper_closed {
  position: relative;
}

.content_opened {
  display: block;
}

.content_closed {
  display: none;
}

.trigger {
  cursor: pointer;
  user-select: none;
}

.content {
  position: absolute;
  z-index: 999999;
}

.content_bottom-right {
  left: 0;
}

.content_bottom-left {
  right: 0;
  left: auto;
}

.content_top-right {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

.content_top-left {
  right: 0;
  left: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

.content_animate {
  animation-name: animation;
  animation-duration: 0.2s;
}
@keyframes animation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.content_style {
  text-align: left;
  background-clip: padding-box;
  margin-top: 32px;
}