.wrapper {
    display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
flex: 1 0 0;
align-self: stretch;
}

.left{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
align-self: stretch;
}
.date {
  color: var(--Grey-Green-grey-500, #57594F);
font-family: Lexend;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: normal;
align-self: stretch;
}
.category{
     display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 16px;
border-bottom: 1px solid var(--Grey-Green-grey-900, #252521);
}
.title{
    color: var(--Grey-Green-grey-900, #252521);
align-self: stretch;
font-family: "Space Grotesk";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 115%; 
}
.content{
    color: var(--Grey-Green-grey-500, #57594F);
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 150%;
align-self: stretch;
}

@media(max-width:990px){
    .wrapper{
        gap: 30px;
    }
}

@media (max-width: 650px) {
    .wrapper {
        flex-direction: column;
       
    }
    .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
        font-size: 18px !important;
    }
   
    .category {
        font-size: 12px !important;
    }
    .date{
font-size: 10px;
margin-bottom: 6px;

    }
    .title{
        font-size: 32px;
    }
    .content p{
        font-size: 14px;
    }
    .left{
        gap: 10px;
    }
}

