.svg4{
    position: absolute;
left: 96px;
top: -48px;
fill: var(--Orange-orange-400, #FDAC5B);
width: 186px;
height: 190px;
}
.svg5{
    width: 402px;
height: 411px;
position: absolute;
right: 96px;
bottom: -81px;
fill: var(--Orange-orange-400, #FDAC5B);
}
.svg1{
    width: 24px;
height: 24px;
aspect-ratio: 1/1;
}

@media(max-width:500px){
    .svg1{
        width: 20px;
height: 20px;
aspect-ratio: 1/1;
    }
}