.svg1{
    position: absolute;
right: 264px;
bottom: 146px;
width: 160px;
height: 160px;
aspect-ratio: 1/1;
fill: var(--Grey-Green-grey-50, #EEEEED);
z-index: -1;
}
@media(max-width:1040px){
    .svg1{
position: absolute;
right: 48px;
bottom: -80px;
width: 120px;
height: 120px;
aspect-ratio: 1/1;
    }
}
@media(max-width:768px){
    .svg2{
        width: 20px;
height: 20px;
aspect-ratio: 1/1;
    }
}